@(student: Resource, labwork: Resource, form: Form[AlternateAssociationFormModel])(implicit request: RequestHeader)
@import java.net.URLDecoder
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic._
@import Vocabulary.lwm
@import utils.Global._
@import com.hp.hpl.jena.query.QueryExecutionFactory

@{
    val query =
        s"""
         select * where {
          $student ${lwm.hasScheduleAssociation} ?scheduleAssociation .
          ?scheduleAssociation ${lwm.hasGroup} ?group .
          ?group ${lwm.hasGroupId} ?groupId .
          ?scheduleAssociation ${lwm.hasAssignmentAssociation} ?assignmentAssociation .
          ?assignmentAssociation ${lwm.hasLabWork} $labwork .
          ?scheduleAssociation ${lwm.hasAssignmentDate} ?assignmentDate .
          ?scheduleAssociation ${lwm.hasAssignmentDateTimetableEntry} ?entry .
          ?entry ${lwm.hasRoom} ?room .
          ?entry ${lwm.hasStartTime} ?startTime .
          ?room ${lwm.hasRoomId} ?roomId .
          ?entry ${lwm.hasSupervisor} ?supervisor .
          ?supervisor ${rdfs.label} ?supervisorName .
          ?assignmentAssociation ${lwm.hasOrderId} ?id .
          optional {?scheduleAssociation ${lwm.hasPassed} ?passed } .
          optional {?scheduleAssociation ${lwm.hasAttended} ?attended } .
          optional {
            ?scheduleAssociation ${lwm.hasAlternateScheduleAssociation} ?alternate .
            ?alternate ${lwm.hasGroup} ?alternateGroup .
            ?alternate ${lwm.hasAssignmentDate} ?alternateDate .
            ?alternate ${lwm.hasAssignmentDateTimetableEntry} ?alternateEntry .
            ?alternateEntry ${lwm.hasStartTime} ?alternateTime .
            ?alternateGroup ${lwm.hasGroupId} ?alternateGroupId .
            ?alternateEntry ${lwm.hasRoom} ?alternateRoom .
            ?alternateRoom ${lwm.hasRoomId} ?alternateRoomId
          }
         } order by asc(?id)
       """.stripMargin

    val result = QueryExecutionFactory.sparqlService(queryHost, query).execSelect()
    var lines = Vector("<table class=\"table\"><tr><th>Termin</th><th>Anwesend</th><th>Bestanden</th><th>Optionen</th></tr>")
    var modals = List.empty[String]
    var initScripts = List.empty[String]
    while(result.hasNext){
        val solution = result.next()
        val date = solution.getLiteral("assignmentDate").getString
        val room = solution.getLiteral("roomId").getString
        val scheduleRes = solution.getResource("scheduleAssociation").getURI
        val groupRes = solution.getResource("group").getURI
        val time = URLDecoder.decode(solution.getLiteral("startTime").getString, "UTF-8")
        val groupId = URLDecoder.decode(solution.getLiteral("groupId").getString, "UTF-8")
        val orderId = URLDecoder.decode(solution.getLiteral("id").getString, "UTF-8")
        val supervisor = URLDecoder.decode(solution.getLiteral("supervisorName").getString, "UTF-8")


        val passed = if(solution.getLiteral("passed") == null) false else solution.getLiteral("passed").getBoolean
        val attended =  if(solution.getLiteral("attended") == null) false else solution.getLiteral("attended").getBoolean
        val script =
                s"""
             |<script>
             |  initLocalState("$scheduleRes", $attended, $passed);
             |</script>
           """.stripMargin

        val row =  if(solution.getLiteral("alternateGroupId") != null){
            val alternateUri = URLDecoder.decode(solution.getResource("alternate").getURI, "UTF-8")
            val id = URLDecoder.decode(solution.getLiteral("alternateGroupId").getString, "UTF-8")
            val aDate = if(solution.getLiteral("alternateDate") == null) "" else solution.getLiteral("alternateDate").getString
            val aRoom = if(solution.getLiteral("alternateRoomId") == null) "" else solution.getLiteral("alternateRoomId").getString
            val aTime = if(solution.getLiteral("alternateTime") == null) "" else URLDecoder.decode(solution.getLiteral("alternateTime").getString, "UTF-8")

            s"""<tr>
               |<td><span id="old${alternateUri.hashCode}" class="text-danger linethrough">$date, $time Uhr, Raum $room</span> <br /> <span id="new${alternateUri.hashCode}"  class="text-success">$aDate $aTime Uhr, Gruppe $id, Raum $aRoom</span><a id="rm${alternateUri.hashCode}" href="javascript:removeAlternateDate('${student.value}', '$scheduleRes','$alternateUri', '${alternateUri.hashCode}');" class="glyphicon glyphicon-remove"></a></td>
               |<td><h1><a href="javascript:attendanceSwitch('${scheduleRes.toString}', 'attendance-${scheduleRes.toString.hashCode}', '${request.session(play.api.mvc.Security.username)}');"><span id="attendance-${scheduleRes.toString.hashCode}" class="glyphicon glyphicon-user ${if(attended){"text-success"}else{"text-danger"}}"></span></a></h1></td>
               |<td><h1><a href="javascript:passedSwitch('${scheduleRes.toString}', 'passed-${scheduleRes.toString.hashCode}', '${request.session(play.api.mvc.Security.username)}');"><span id="passed-${scheduleRes.toString.hashCode}"  class="${if(passed){"glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-ban-circle text-danger"}}"></h1></td>
               |<td><h1><a href="#" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#${scheduleRes.hashCode}"></a></h1></td>
               |</tr>""".stripMargin
        }else{
            s"""<tr>
               |<td id="dates${scheduleRes.hashCode}"><span id="old${scheduleRes.hashCode}" class="text-success">$date, $time Uhr, Raum $room</span><br /></td>
               |<td><h1><a href="javascript:attendanceSwitch('${scheduleRes.toString}', 'attendance-${scheduleRes.toString.hashCode}', '${request.session(play.api.mvc.Security.username)}');"><span id="attendance-${scheduleRes.toString.hashCode}" class="glyphicon glyphicon-user ${if(attended){"text-success"}else{"text-danger"}}"></span></a></h1></td>
               |<td><h1><a href="javascript:passedSwitch('${scheduleRes.toString}', 'passed-${scheduleRes.toString.hashCode}', '${request.session(play.api.mvc.Security.username)}');"><span id="passed-${scheduleRes.toString.hashCode}"  class="${if(passed){"glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-ban-circle text-danger"}}"></h1></td>
               |<td><h1><a href="#" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#${scheduleRes.hashCode}"></a></h1></td>
               |</tr>""".stripMargin
        }


        val modal =
          s"""
             <div class="modal fade" id="${scheduleRes.hashCode}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                                    Schließen</span></button>
                                <h4 class="modal-title" id="myModalLabel">Ersatztermin angeben</h4>
                            </div>
                            <div class="modal-body">
                            ${helpers.labworks.alternateDateForm(student,Resource(scheduleRes),Resource(groupRes), groupId, orderId, form).toString}
                            </div>

                        </div>
                    </div>
                </div>
           """.stripMargin

        initScripts = script :: initScripts
        modals = modal :: modals

        lines = lines :+ row
    }
    lines = lines :+ "</table>"
    lines = lines ++ initScripts ++ modals


    Html(lines.mkString("\n"))
}
