@()
<script>
    $(document).ready(function(){
        $("#searchButton").click(function(e){
            e.preventDefault();
            completeSearch();
        });

        $("#completeSearch" ).keypress(function(e){
            var key = e.which;
            if(key == 13){
                completeSearch();
            }
        });
    });
</script>

<div class="input-group" role="search">
    <input type="text" id="completeSearch" class="form-control" placeholder="Suche nach...">
    <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" id="searchButton" type="button"></button>
    </span>
</div>
