@(assignment: Individual)
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic.Vocabulary.lwm
@import utils.semantic.Resource
@import utils.semantic.Individual
@import utils.Global._
<tr>
    <td><a href="@routes.LiveAssignmentManagementController.show(assignment.uri.value)" >@assignment.props.getOrElse(rdfs.label, List(StringLiteral(""))).map(_.toString)</a></td>
    <td>@assignment.props.getOrElse(lwm.hasTopic, List(StringLiteral(""))).map(t => s"${t.toString} ")</td>
    <td><h3><a href="javascript: if(confirmed()) deleteLiveAssignment('@assignment.uri.value')" class="glyphicon glyphicon-remove" ></a></h3>
    <h3><a href="#" data-toggle="modal" data-target="#@{assignment.hashCode()}" class="glyphicon glyphicon-pencil"></a></h3>


        <div class="modal fade" id="@{assignment.hashCode()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                        Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Neue Liveaufgabe hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                    @liveAssignments.editForm(assignment, LiveAssignments.Forms.addForm)
                    </div>

                </div>
            </div>
        </div>
    </td>
</tr>