@(statements: List[(Resource, Property, RDFNode)])(implicit header: RequestHeader)
@import utils.semantic.{Resource, Property, RDFNode, Individual}
@import utils.Global._

<table class="table table-bordered">

    <tr><th>Resource</th><th>Property</th><th>RDFNode</th><th>Operation</th></tr>
    <tbody>
    @for(statement <- statements) {
        <tr>
            <td>
            @statement._1
            </td>
            <td>
            @statement._2
            </td>
            <td>

                @if(statement._3.value.contains("http")) {
                    <a href='@{routes.SuperUser.resourceDetails("detail", statement._3.value)}'> @statement._3.value</a>
                }else {
                    @statement._3
                }
            </td>
            <td>
                <a href="javascript: removeStatement('@statement._1.value','@statement._2.value','@statement._3.value')" class="glyphicon glyphicon-remove"></a>
                <a href="" data-toggle="modal" data-target="#@statement.hashCode()" class="glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
        <div class="modal fade" id="@statement.hashCode()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Resource: <span class="text-info">@statement._1.value</span></h4>
                    </div>
                    <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input id="prevRes@statement.hashCode()" type="hidden" value="@statement._1">
                            <input id="prevProp@statement.hashCode()" type="hidden" value="@statement._2">
                            <input id="prevNode@statement.hashCode()" type="hidden" value="@statement._3">
                        </div>
                        <div class="form-group">
                            <input id="nextRes@statement.hashCode()" type="text" value="@statement._1">
                            <input id="nextProp@statement.hashCode()" type="text" value="@statement._2">
                            <input id="nextNode@statement.hashCode()" type="text" value="@statement._3">
                        </div>
                    </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                        <button type="button" onclick="superUserUpdate('@statement.hashCode()', '@header.uri')" class="btn btn-primary"> Submit </button>
                    </div>
                </div>
            </div>
        </div>
    }
    </tbody>
</table>
