@(resource: Individual)
@import utils.semantic.Individual

<a href="" data-toggle="modal" data-target="#@resource.hashCode()">@resource.uri</a>

<div class="modal fade" id="@resource.hashCode()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                    Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Resource: <span class="text-info">@resource.uri</span></h4>
            </div>
            <div class="modal-body">
                    <div class="list-group">

                    @for(statement <- resource.statements) {
                       <div class="list-group-item">

                       <label>Property: </label>  @statement.p.value <br />
                       <label>RDFNode: </label>  @statement.o.value

                       </div>

                    }
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</div>