@(substitution: Resource)
@import utils.semantic.SPARQLTools
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic.Vocabulary.lwm
@import utils.semantic.Resource
@import utils.Global._

@{
    val query =
      s"""
        | select (?labwork as ?s) (${rdfs.label} as ?p) (?label as ?o) where {
        |    $substitution ${lwm.hasScheduleAssociation} ?schedule .
        |    ?schedule ${lwm.hasGroup} ?group .
        |    ?group ${lwm.hasLabWork} ?labwork .
        |    ?labwork ${rdfs.label} ?label
        | }
      """.stripMargin
    SPARQLTools.statementsFromString(sparqlExecutionContext.executeQueryBlocking(query)).headOption match{
        case Some(statement) =>
        statement.o.toString
        case None => ""
    }
}
