@(student: Resource, labwork: Resource)
    @import java.net.URLDecoder
    @import utils.semantic.Vocabulary.RDFS
    @import utils.semantic._
    @import Vocabulary.LWM
    @import utils.Global._
    @import com.hp.hpl.jena.query.QueryExecutionFactory


    @{
        val query =
            s"""
         select * where {
          $student ${LWM.hasScheduleAssociation} ?scheduleAssociation .
          ?scheduleAssociation ${LWM.hasGroup} ?group .
          ?group ${LWM.hasGroupId} ?groupId .
          ?scheduleAssociation ${LWM.hasAssignmentAssociation} ?assignmentAssociation .
          ?assignmentAssociation ${LWM.hasAssignment} ?assignment .
          ?assignment ${RDFS.label} ?assignmentLabel
          ?assignmentAssociation ${LWM.hasLabWork} $labwork .
          ?scheduleAssociation ${LWM.hasAssignmentDate} ?assignmentDate .
          ?scheduleAssociation ${LWM.hasAssignmentDateTimetableEntry} ?entry .
          ?entry ${LWM.hasRoom} ?room .
          ?entry ${LWM.hasStartTime} ?startTime .
          ?room ${LWM.hasRoomId} ?roomId .
          ?entry ${LWM.hasSupervisor} ?supervisor .
          ?supervisor ${RDFS.label} ?supervisorName .
          ?assignmentAssociation ${LWM.hasOrderId} ?id .
          optional {?scheduleAssociation ${LWM.hasPassed} ?passed } .
          optional {?scheduleAssociation ${LWM.hasAttended} ?attended } .
          optional {
            ?scheduleAssociation ${LWM.hasAlternateScheduleAssociation} ?alternate .
            ?alternate ${LWM.hasGroup} ?alternateGroup .
            ?alternate ${LWM.hasAssignmentDate} ?alternateDate .
            ?alternate ${LWM.hasAssignmentDateTimetableEntry} ?alternateEntry .
            ?alternateEntry ${LWM.hasStartTime} ?alternateTime .
            ?alternateGroup ${LWM.hasGroupId} ?alternateGroupId .
          }
         } order by asc(?id)
       """.stripMargin

        val result = QueryExecutionFactory.sparqlService(queryHost, query).execSelect()
        var lines = Vector("<table class=\"table\"><tr><th>Thema</th><th>Datum</th><th>Ersatz</th><th>Raum</th><th>Anwesend</th><th>Bestanden</th></tr>")
        while(result.hasNext){
            val solution = result.next()
            val date = solution.getLiteral("assignmentDate").getString
            val room = solution.getLiteral("roomId").getString
            val scheduleRes = solution.getResource("scheduleAssociation").getURI
            val groupRes = solution.getResource("group").getURI
            val time = URLDecoder.decode(solution.getLiteral("startTime").getString, "UTF-8")
            val groupId = URLDecoder.decode(solution.getLiteral("groupId").getString, "UTF-8")
            val orderId = URLDecoder.decode(solution.getLiteral("id").getString, "UTF-8")
            val supervisor = URLDecoder.decode(solution.getLiteral("supervisorName").getString, "UTF-8")
            val assignmentLabel = URLDecoder.decode(solution.getLiteral("assignmentLabel").getString, "UTF-8")


            val passed = if(solution.getLiteral("passed") == null) false else solution.getLiteral("passed").getBoolean
            val attended =  if(solution.getLiteral("attended") == null) false else solution.getLiteral("attended").getBoolean

            val row =  if(solution.getLiteral("alternateGroupId") != null){
                val id = URLDecoder.decode(solution.getLiteral("alternateGroupId").getString, "UTF-8")
                val aDate = if(solution.getLiteral("alternateDate") == null) "" else solution.getLiteral("alternateDate").getString
                val aTime = if(solution.getLiteral("alternateTime") == null) "" else URLDecoder.decode(solution.getLiteral("alternateTime").getString, "UTF-8")

                s"""<tr><td>$assignmentLabel</td><td>$date, $time Uhr</td><td>$aDate $aTime Uhr, Gruppe $id</td> <td>$room</td> <td><input id="attendance-${scheduleRes.toString.hashCode}" type="checkbox" name="attending" value="attending" ${if(attended) "checked"}></td> <td><input id="passed-${scheduleRes.toString.hashCode}" type="checkbox" name="passed" value="passed" ${if(passed) "checked"}></td></tr>"""
            }else{
                s"""<tr><td>$assignmentLabel</td><td>$date, $time Uhr</td><td></td><td>$room</td><td><input id="attendance-${scheduleRes.toString.hashCode}"  type="checkbox" name="attending" value="attending" ${if(attended) "checked"}></td> <td><input id="passed-${scheduleRes.toString.hashCode}" type="checkbox" name="passed" value="passed" ${if(passed) "checked"}></td></tr>"""
            }

            lines = lines :+ row
        }
        lines = lines :+ "</table>"
        Html(lines.mkString("\n"))
    }