@(student: Resource, labwork: Resource)
    @import java.net.URLDecoder
    @import utils.semantic.Vocabulary.rdfs
    @import utils.semantic._
    @import Vocabulary.lwm
    @import utils.Global._
    @import com.hp.hpl.jena.query.QueryExecutionFactory


    @{
        val query =
            s"""
         select * where {
          $student ${lwm.hasScheduleAssociation} ?scheduleAssociation .
          ?scheduleAssociation ${lwm.hasGroup} ?group .
          ?group ${lwm.hasGroupId} ?groupId .
          ?scheduleAssociation ${lwm.hasAssignmentAssociation} ?assignmentAssociation .
          ?assignmentAssociation ${lwm.hasAssignment} ?assignment .
          ?assignment ${rdfs.label} ?assignmentLabel .
          ?assignmentAssociation ${lwm.hasLabWork} $labwork .
          ?scheduleAssociation ${lwm.hasAssignmentDate} ?assignmentDate .
          ?scheduleAssociation ${lwm.hasAssignmentDateTimetableEntry} ?entry .
          ?entry ${lwm.hasRoom} ?room .
          ?entry ${lwm.hasStartTime} ?startTime .
          ?room ${lwm.hasRoomId} ?roomId .
          ?entry ${lwm.hasSupervisor} ?supervisor .
          ?supervisor ${rdfs.label} ?supervisorName .
          ?assignmentAssociation ${lwm.hasOrderId} ?id .
          optional {?scheduleAssociation ${lwm.hasPassed} ?passed } .
          optional {?scheduleAssociation ${lwm.hasAttended} ?attended } .
          optional {
            ?scheduleAssociation ${lwm.hasAlternateScheduleAssociation} ?alternate .
            ?alternate ${lwm.hasGroup} ?alternateGroup .
            ?alternate ${lwm.hasAssignmentDate} ?alternateDate .
            ?alternate ${lwm.hasAssignmentDateTimetableEntry} ?alternateEntry .
            ?alternateEntry ${lwm.hasStartTime} ?alternateTime .
            ?alternateGroup ${lwm.hasGroupId} ?alternateGroupId .
            ?alternateEntry ${lwm.hasRoom} ?alternateRoom .
            ?alternateRoom ${lwm.hasRoomId} ?alternateRoomId
          }
         } order by asc(?id)
       """.stripMargin

        val result = QueryExecutionFactory.sparqlService(queryHost, query).execSelect()
        var lines = Vector("<table class=\"table\"><tr><th>Thema</th><th>Termin</th><th>Anwesend</th><th>Bestanden</th></tr>")
        while(result.hasNext){
            val solution = result.next()
            val date = solution.getLiteral("assignmentDate").getString
            val room = solution.getLiteral("roomId").getString
            val scheduleRes = solution.getResource("scheduleAssociation").getURI
            val groupRes = solution.getResource("group").getURI
            val time = URLDecoder.decode(solution.getLiteral("startTime").getString, "UTF-8")
            val groupId = URLDecoder.decode(solution.getLiteral("groupId").getString, "UTF-8")
            val orderId = URLDecoder.decode(solution.getLiteral("id").getString, "UTF-8")
            val supervisor = URLDecoder.decode(solution.getLiteral("supervisorName").getString, "UTF-8")
            val assignmentLabel = URLDecoder.decode(solution.getLiteral("assignmentLabel").getString, "UTF-8")



            val passed = if(solution.getLiteral("passed") == null) false else solution.getLiteral("passed").getBoolean
            val attended =  if(solution.getLiteral("attended") == null) false else solution.getLiteral("attended").getBoolean

            val row =  if(solution.getLiteral("alternateGroupId") != null){
                val id = URLDecoder.decode(solution.getLiteral("alternateGroupId").getString, "UTF-8")
                val aDate = if(solution.getLiteral("alternateDate") == null) "" else solution.getLiteral("alternateDate").getString
                val aTime = if(solution.getLiteral("alternateTime") == null) "" else URLDecoder.decode(solution.getLiteral("alternateTime").getString, "UTF-8")
                val aRoomId = URLDecoder.decode(solution.getLiteral("alternateRoomId").getString, "UTF-8")

                s"""<tr>
                   |<td>$assignmentLabel</td>
                   |<td><span class="text-danger linethrough">$date, $time Uhr, Raum $room</span> <br /> <span class="text-success">$aDate $aTime Uhr, Gruppe $id, Raum $aRoomId</span></td>
                   |<td><h1><span id="attendance-${scheduleRes.toString.hashCode}"  class="${if(attended){ "glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-warning-sign text-danger"}}"></span></h1></td>
                   |<td><span id="passed-${scheduleRes.toString.hashCode}"  class="${if(passed){ "glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-warning-sign text-danger"}}"></span></tr>""".stripMargin
            }else{
                s"""<tr><td>$assignmentLabel</td><td><h1><span class="text-success">$date, $time Uhr, Raum $room</span> <br /></h1></td><td><h1><span id="attendance-${scheduleRes.toString.hashCode}"  class="${if(attended){ "glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-warning-sign text-danger"}}"></span><h1></td> <td><h1><span id="passed-${scheduleRes.toString.hashCode}"  class="${if(passed){ "glyphicon glyphicon-ok text-success"}else{"glyphicon glyphicon-warning-sign text-danger"}}"></span></h1></td></tr>"""
            }

            lines = lines :+ row
        }
        lines = lines :+ "</table>"
        Html(lines.mkString("\n"))
    }