@(substitution: Resource)
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic.Vocabulary.lwm
@import utils.semantic._
@import utils.Global._

@{
    val query =
        s"""
          |select ($substitution as ?s) (${lwm.hasSubstitute} as ?p) (?name as ?o) where {
          |  $substitution ${lwm.hasSubstitute} ?sub .
          |  ?sub ${rdfs.label} ?name
          |}
        """.stripMargin

    SPARQLTools.statementsFromString(sparqlExecutionContext.executeQueryBlocking(query)).headOption match{
        case Some(statement) =>
            statement.o.toString
        case None => ""
    }
}
