@(group: Resource)
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic._
@import Vocabulary.lwm
@import utils.Global._



@{
    val query =
        s"""
         |select (?group as ?s) (${lwm.hasSupervisor} as ?p) (?name as ?o) where {
         | ?group ${lwm.hasScheduleAssociation} ?scheduleAssociation .
         | ?scheduleAssociation ${lwm.hasAssignmentAssociation} ?assignmentAssociation .
         | ?assignmentAssociation ${lwm.hasSupervisor} ?supervisor .
         | ?supervisor ${rdfs.label} ?name
         |}
       """.stripMargin

    val query2 =
        s"""
         |select (?group as ?s) (${lwm.hasSupervisor} as ?p) (?name as ?o) where {
         | ?group ${lwm.hasScheduleAssociation} ?scheduleAssociation .
         | ?scheduleAssociation ${lwm.hasSubstitution} ?substitution .
         | ?substitution ${lwm.hasSubstitute} ?substitute .
         | ?substitute ${rdfs.label} ?name
         |}
       """.stripMargin

        val result2 = SPARQLTools.statementsFromString(sparqlExecutionContext.executeQueryBlocking(query2))
        if(result2.size > 0){
            val middle = result2.map{statement =>
                s"<li>${statement.o.toString}</li>"
            }
            s"<ul>$middle</ul>"
        }else{
            val result1 = SPARQLTools.statementsFromString(sparqlExecutionContext.executeQueryBlocking(query))
            val middle = result1.map{statement =>
                s"<li>${statement.o.toString}</li>"
            }
            s"<ul>$middle</ul>"
        }
}