@(student: Resource, oldSchedule: Resource, group: Resource, groupId: String, orderId: String,form: Form[AlternateAssociationFormModel])
@import utils.semantic.Resource

    <div class="input-group">
        <input id="oldSchedule@{oldSchedule.value.hashCode}" type="hidden" name="oldSchedule" value="@oldSchedule.toString">

        <label for="newSchedule@{oldSchedule.value.hashCode}">Neuer Termin:</label>
        <select id="newSchedule@{oldSchedule.value.hashCode}" name="newSchedule" >
        </select>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button onclick="postAlternateDate('@student.value', '@oldSchedule.value', '@oldSchedule.value.hashCode')" type="button" class="btn btn-primary">Speichern</button>
        </div>
    </div>
