@(labwork: Resource)
@import java.net.URLDecoder
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic._
@import Vocabulary.lwm
@import utils.Global._
@import com.hp.hpl.jena.query.QueryExecutionFactory

@{
    val query =
      s"""
         |select * where {
         | $labwork ${rdfs.label} ?name
         |}
       """.stripMargin

    val result = QueryExecutionFactory.sparqlService(queryHost, query).execSelect().nextSolution()
    if(result.getLiteral("name") == null) "" else Html(s"<strong>${URLDecoder.decode(result.getLiteral("name").getString, "UTF-8")}</strong>")
}
