@(group: Resource, date: LocalDate)
@import org.joda.time.LocalDate
@import utils.semantic._



@helpers.labworks.labworkAttendees(group, date)

<div class="panel panel-default top-buffer">
    <div class="panel-heading">Entschuldigte Studenten</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <td>Nachname</td>
                        <td>Vorname</td>
                        <td>Kennung</td>
                        <td>Anwesend</td>
                        <td>Bestanden</td>
                    </tr>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@helpers.labworks.labworkAlternateAttendees(group, date)

