@(labwork: Resource)
@import utils.semantic._

<div class="panel panel-default top-buffer">
    <div class="panel-heading">Exportfunktionen</div>
   <div class="panel-body">
       <div class="row">
           <div class="col-md-12">
               <a class="btn btn-sm btn-primary" href="@routes.LabworkManagementController.export(labwork.value, LabworkExportModes.InternalSchedule)">Tabelle</a>
               <a class="btn btn-sm btn-primary" href="@routes.LabworkManagementController.export(labwork.value, LabworkExportModes.PublicGroupMembersTable)">Übersichtstabelle</a>
               <a class="btn btn-sm btn-primary" href="@routes.LabworkManagementController.export(labwork.value, LabworkExportModes.PublicSchedule)">Öffentlicher Staffelplan</a>
               <a class="btn btn-sm btn-primary" href="@routes.LabworkManagementController.exportCSV(labwork.value)">CSV</a>
           </div>
       </div>
   </div>
</div>