@(assignment: Individual, courses: List[Individual], form: Form[AssignmentFormModel])
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.semantic.Vocabulary.{LWM, RDFS}
@import utils.Global._

    @defining(form.fill(AssignmentFormModel(assignment.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value,
                                            assignment.props.getOrElse(LWM.hasDescription, List(StringLiteral(""))).head.value,
                                            assignment.props.getOrElse(LWM.hasText, List(StringLiteral(""))).head.value,
                                            assignment.props.getOrElse(LWM.hasLearningGoals, List(StringLiteral(""))).head.value,
                                            assignment.props.getOrElse(LWM.hasHints, List(StringLiteral(""))).head.value,
                                            assignment.props.getOrElse(LWM.hasTopic, List(StringLiteral(""))).map(_.value).mkString(","),
                                            assignment.props.getOrElse(LWM.hasCourse, List(StringLiteral(""))).map(_.value)))) {f=>

        @helper.form(action = routes.AssignmentManagementController.assignmentEdit(assignment.uri.value)) {
            @helper.inputText(form("heading"), '_label -> "Titel:")
            @helper.textarea(form("description"), 'rows -> 15, 'cols -> 40, '_label -> "Beschreibung (Plaintext oder Markdown)")
            @helper.textarea(form("text"), 'rows -> 15, 'cols -> 40, '_label -> "Aufgabe (Plaintext oder Markdown)")
            @helper.textarea(form("goals"), 'rows -> 15, 'cols -> 40, '_label -> "Lernziele (Plaintext oder Markdown)")
            @helper.textarea(form("hints"), 'rows -> 15, 'cols -> 40, '_label -> "Lösungshinweise (Plaintext oder Markdown)")
            @helper.inputText(form("topics"), '_label -> "Themen (Mehrfachangaben mit Komma trennen)):")
            <label>Veranstaltungen:</label> <br />
            @for((c, index) <- courses.zipWithIndex; l <- c.props(RDFS.label); d <- c.props(LWM.hasDegree); i = Individual(Resource(d.value))) {
                <input type="checkbox" name="courses[@index]" value="@c.uri.value"> @l - @i.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value <br />
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary">Ändern</button>
            </div>
        }

}
