@(assignments: List[Individual], courses: List[Individual])
@import utils.semantic.Vocabulary.LWM
@import utils.Global._
@import utils.semantic.{Resource, Individual, Vocabulary}

<div class="panel panel-default">
    <div class="panel-heading">Aufgabenübersicht</div>

    <table class="table table-bordered">
        <tr>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Themen</th>
        </tr>
        @for(a <- assignments) {
            <tr>
                <td><a href="@routes.AssignmentManagementController.detailed(a.uri.value)">@a.props(Vocabulary.RDFS.label)</a></td>
                <td>@a.props(Vocabulary.LWM.hasDescription)</td>
                <td>@a.props(Vocabulary.LWM.hasTopic)</td>
                <td><h1><a href="javascript: if(confirmed()) deleteAssignment('@a.uri.value')" class="glyphicon glyphicon-remove"></a></h1></td></tr>
        }
    </table>

</div>
