@(assignment: Individual, solution: Individual, form: Form[AssignmentSolutionFormModel])
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.Global._



<label>Aufgabe: <a href="@routes.AssignmentManagementController.exportAssignment(assignment.uri.value)" class="glyphicon glyphicon-export"></a></label>
@defining(form.fill(AssignmentSolutionFormModel(solution.props.getOrElse(LWM.hasFileName, List(StringLiteral(""))).head.value,
                                                solution.props.getOrElse(LWM.hasText, List(StringLiteral(""))).head.value))) { f =>

    @helper.form(action = routes.AssignmentManagementController.assignmentSolutionPost(assignment.uri.value)) {
        @helper.inputText(f("filename"), '_label -> "Name:")
        @helper.textarea(f("text"), 'rows -> 15, 'cols -> 65, '_label -> "Lösung (Plaintext oder Markdown)")
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    }
}