@(courses: List[Individual], form: Form[AssignmentFormModel])
    @import utils.semantic.Vocabulary.{RDFS, LWM}
    @import utils.semantic.{Resource, StringLiteral}
    @import utils.semantic.Individual
    @import utils.Global._

    @helper.form(action = routes.AssignmentManagementController.assignmentPost()) {
        @helper.inputText(form("heading"), '_label -> "Titel:")
        @helper.textarea(form("description"), 'rows -> 5, 'cols -> 50, '_label -> "Beschreibung (Plaintext)")
        @helper.textarea(form("text"), 'rows -> 10, 'cols -> 65, '_label -> "Aufgabe (Plaintext oder Markdown)")
        @helper.textarea(form("goals"), 'rows -> 10, 'cols -> 65, '_label -> "Lernziele (Plaintext oder Markdown)")
        @helper.textarea(form("hints"), 'rows -> 10, 'cols -> 65, '_label -> "Lösungshinweise (Plaintext oder Markdown)")
        @helper.inputText(form("topics"), '_label -> "Themen (Mehrfachangaben mit Komma trennen):")
        <label>Veranstaltungen:</label> <br />
        @for((c, index) <- courses.zipWithIndex; l <- c.props(RDFS.label); d <- c.props(LWM.hasDegree); i = Individual(Resource(d.value))) {
            <input type="checkbox" name="courses[@index]" value="@c.uri.value"> @l - @i.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value <br />
        }
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    }
