@(assignments: List[Individual])

@import utils.semantic.{Individual, Vocabulary}

<div class="panel panel-default">
    <div class="panel-heading">Aufgabenübersicht</div>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Topics</th>
        </tr>
        @for(assignment <- assignments) {
            <tr>
                <td>@assignment.props(Vocabulary.RDFS.label)</td>
                <td>@assignment.props(Vocabulary.LWM.hasDescription)</td>
                <td>@assignment.props(Vocabulary.LWM.hasText)</td>
                <td><a href="javascript: deleteAssignment('@assignment.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
            </tr>
        }
    </table>

</div>
