@(blacklist: Individual, semester: Individual, form: Form[BlacklistDateFormModel])
@import java.util.Date
@import utils.semantic.Individual
@import utils.semantic.Vocabulary.rdfs
@import org.joda.time.LocalDate
<div>
    @defining(form.fill(BlacklistDateFormModel(blacklist.uri.value, semester.uri.value, LocalDate.now()))){ f =>
        @helper.form(action = routes.BlacklistManagementController.blacklistDatePost()) {
            @helper.inputDate(f("date"), '_label -> "Datum")
            <input type="hidden" name="blacklistResource" value="@f("blacklistResource").value">
            <input type="hidden" name="semesterResource" value="@f("semesterResource").value">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary">Hinzufügen</button>
            </div>
        }
    }
</div>