@(semesters: List[Individual], form: Form[BlacklistFormModel])
@import utils.semantic.Individual
@import utils.semantic.Vocabulary.rdfs
<div>
    @helper.form(action = routes.BlacklistManagementController.blacklistPost()) {
        @helper.select(form("semesterResource"), for {semester <- semesters; labelList <- semester.props.get(rdfs.label); label = labelList.headOption.getOrElse("")} yield semester.uri.value -> label.toString, '_label -> "Semester:")
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    }
</div>