@(courses: List[Individual])
    @import utils.semantic.Individual
    @import utils.semantic.Vocabulary
    @import utils.semantic.Literal


    <div class="panel panel-default">
        <div class="panel-heading">Veranstaltungsübersicht</div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
            @for(course <- courses) {
                <tr>
                    <td>@course.props.getOrElse(Vocabulary.LWM.hasName, List(Literal(""))).head.value</td>
                    <td>@course.props.getOrElse(Vocabulary.LWM.hasId, List(Literal(""))).head.value</td>
                    <td><a class="glyphicon glyphicon-pencil"></a></td>
                    <td><a href="javascript: deleteCourse('@course.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
                </tr>
            }
        </table>

    </div>