@(  degrees: List[Individual], courses: List[Individual])
    @import utils.semantic.{Individual, Resource}
    @import utils.semantic.Vocabulary
    @import utils.semantic.StringLiteral
    @import utils.Global._

    <div class="panel panel-default">
        <div class="panel-heading">Veranstaltungsübersicht</div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Studiengang</th>
            </tr>
            @for(course <- courses; id <- course.props.getOrElse(Vocabulary.LWM.hasId, List(StringLiteral("")))) {
                <tr>
                    <td><a data-toggle="modal" data-target="#@id">@course.props.getOrElse(Vocabulary.LWM.hasName, List(StringLiteral(""))).head.value</a></td>
                    <td>@course.props.getOrElse(Vocabulary.LWM.hasId, List(StringLiteral(""))).head.value</td>
                    <td>@Individual(Resource(course.props.getOrElse(Vocabulary.LWM.hasDegree, List(StringLiteral(""))).head.value)).props.getOrElse(Vocabulary.RDFS.label, List(Resource(""))).head.value</td>
                    <td><h3><a href="javascript: if(confirmed()) deleteCourse('@course.uri.value')" class="glyphicon glyphicon-remove"></a></h3></td>
                </tr>

                <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                    Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Veranstaltung bearbeiten</h4>
                            </div>
                            <div class="modal-body">
                            @course_edit_form(course, degrees, CourseForms.courseForm)
                            </div>

                        </div>
                    </div>
                </div>
            }
        </table>

    </div>