@(degrees: List[Individual], form: Form[CourseFormModel])
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic.Individual

<div>
    @helper.form(action = routes.CourseManagementController.coursePost()) {
        @helper.inputText(form("id"), '_label -> "Id:")
        @helper.inputText(form("name"), '_label -> "Name:")
        @helper.select(form("degree"), (for(degree <- degrees; label <- degree.props(rdfs.label)) yield degree.uri.value -> label.value).sortBy(_._2), '_label -> "Studiengang:")
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    }
</div>