@(individual: Individual, labworks: List[(Individual, Seq[String])])
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary.RDFS
@import utils.semantic.{Individual, Resource}

<div class="panel panel-default">
    <div class="panel-heading">Ihre Praktika in diesem Semester</div>
    <div class="panel-body">
        @for(a <- labworks) {
            @a._2.map{group =>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        @a._1.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.toString, Gruppe @group
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="@routes.StudentDashboardController.assignmentsPage(a._1.uri.value)" class="btn btn-primary">Aufgaben</a>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                @helpers.personSchedule(individual.uri, a._1.uri)
            </div>

        </div>
            }
        }
    </div>
</div>