@(openLabworks: List[Individual], form: Form[LabworkApplicationFormModel])
    @import utils.semantic.{Individual, Resource}
    @import utils.semantic.Vocabulary.{LWM, RDFS}
    <!-- TODO: ADD BUTTON FUNCTIONALITY AND FORM -->

    <div class="panel panel-default">
        <div class="panel-heading">Praktikumsanmeldung</div>
        <table class="table">
            <tr><th>Praktikum</th>
                <th>Wunsch</th>
                <th>Anmelden</th>
            </tr>
            <tbody>
            @for(labwork <- openLabworks; label <- labwork.props.get(RDFS.label)) {
                <tr>
                    <td>@label.headOption.fold("")(_.toString)</td>
                    <td>@dashboard_labwork_application_form(labwork, form)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
