@(individual: Individual, labworks: List[(Individual, Seq[String])])
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary.RDFS
@import utils.semantic.{Individual, Resource}

<div class="panel panel-default">
    <div class="panel-heading">Ihre Praktika in diesem Semester</div>
    <table class="table">
        <tr>
            <th>Praktikum</th>
            <th>Gruppe</th>
            <th>Termine</th>
            <th>Aufgaben</th>
        </tr>
        <tbody>
        @for(a <- labworks) {
            <tr>
                <td>@a._1.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.toString</td>
                @a._2.map{group =>
                    <td>@group</td>
                    <td>@helpers.personSchedule(individual.uri, a._1.uri)</td>
                    <td><a href="@routes.StudentDashboardController.assignmentsPage(a._1.uri.value)" class="btn btn-primary">Weiter</a></td>
                }
            </tr>
        }

        </tbody>
    </table>
</div>