@(datesToday: List[Individual], datesTomorrow: List[Individual], today: DateTime)
@import org.joda.time.DateTime
@import utils.semantic.Individual

<!DOCTYPE html>
<html>
    <head>
        <title>Administration Dashboard</title>
            @head()
    </head>
    <body>
        @header_loggedIn_admin()
        @navigation_admin()
        <div class="container-fluid">
            @dashboard_admin_dates(datesToday, datesTomorrow, today)
            @dashboard_admin_emails()
        </div>
        @footerAdmin()
    </body>
</html>
