@(today: LocalDate, upperBound: Int)(implicit request: RequestHeader)
@import utils.BreadCrumbKeeper.UrlReference
@import org.joda.time.LocalDate
@import org.joda.time.DateTime
@import utils.semantic.Individual

<!DOCTYPE html>
<html>
    @head("Administration Dashboard")
    <body>
        <div class="container" id="everything">
           <div class="row">
            @header_loggedIn_admin("Home")
           </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    <h4 class="text-center">
                        <a class="glyphicon glyphicon-arrow-up" href="@routes.AdministrationDashboardController.dashboard(s"${upperBound - 1}")"></a>
                    </h4>

                    @for(i <- -1 until upperBound){
                       @dashboard_admin_dates(today.plusDays(i))
                    }

                    <h4 class="text-center">
                        <a class="glyphicon glyphicon-arrow-down" href="@routes.AdministrationDashboardController.dashboard(s"${upperBound + 1}")"></a>
                    </h4>
                </div>
            </div>
                <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>


