@(openLabworks: List[Individual], courseApplicationForm: Form[LabworkApplicationFormModel])
@import utils.semantic.Individual

<!DOCTYPE html>
<html>
    @head("Dashboard")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_student()
            </div>
            <div class="row">
                @navigation_student()
                <div class="col-md-9">
                @dashboard_student_classEnrolement(openLabworks, courseApplicationForm)
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>

    </body>
    </html>
