@(student: Individual, openLabworks: List[Individual], pendingApplications: List[Individual], studentLabworks: List[(Individual, Seq[String])], courseApplicationForm: Form[LabworkApplicationFormModel])

@import java.net.URLEncoder
@import utils.semantic.{Individual, Resource}
<!DOCTYPE html>
<html>
    @head("Dashboard")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_student()
            </div>
            <div class="row">
                @navigation_student(student)
                <div class="col-md-9">
                    @if(openLabworks.size > 0) {
                        <div class="row">
                        @dashboard_student_classEnrolement(openLabworks, courseApplicationForm)
                        </div>
                    }
                    @if(pendingApplications.size > 0) {
                        <div class="row">
                        @pending_applications(student, pendingApplications)
                        </div>
                    }
                    @if(studentLabworks.size > 0) {
                        <div class="row">
                        @dashboard_student_labworks_list(student, studentLabworks)
                        </div>
                    }
                </div>
            </div>

            <div class="row">@footer_student()</div>
        </div>

    </body>
</html>
