@(degrees: List[Individual])
    @import utils.semantic.Individual
    @import utils.semantic.Vocabulary
    @import utils.semantic.StringLiteral


    <div class="panel panel-default">
        <div class="panel-heading">Studiengangsübersicht</div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
            @degrees.map(i => (i.props.getOrElse(Vocabulary.LWM.hasName, List(StringLiteral(""))).head.value, i.props.getOrElse(Vocabulary.LWM.hasId, List(StringLiteral(""))).head.value, i.uri)).sortBy(_._1).map{degree =>
                <tr>
                    <td>@degree._1</td>
                    <td>@degree._2</td>
                    <td><a class="glyphicon glyphicon-pencil"></a></td>
                    <td>@affirmation_widget(s"${degree._2}",s"deleteDegree('${degree._3}')")</td></tr>
            }

        </table>

    </div>