@(degree: Individual, form: Form[Degree])
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.semantic.Vocabulary.{LWM, RDFS}

    @defining(form.fill(Degree(degree.props.getOrElse(LWM.hasName, List(StringLiteral(""))).head.value, degree.props.getOrElse(LWM.hasId, List(StringLiteral(""))).head.value))){f=>
            @helper.form(action = routes.DegreeManagementController.degreeEdit(degree.uri.value)) {
                @helper.inputText(f("name"), '_label -> "Name:")
                @helper.inputText(f("id"), '_label -> "Id:")
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                    <button type="submit" class="btn btn-primary">Ändern</button>
                </div>
            }

}