@(form: Form[User])

<!DOCTYPE html>

<html>

    @head("First Time Setup")
        <body>
            <div class="container-fluid">
            @helper.form(action = routes.UserManagement.userFirstTimeSelf()) {
                @helper.inputText(form("id"), 'readonly -> "readonly")
                @helper.inputText(form("firstname"))
                @helper.inputText(form("lastname"))
                @helper.inputText(form("email"))
                @helper.inputText(form("phone"))

                <div class="form-actions">
                    <button type="submit">Submit</button>
                </div>
            }
</div>
</body>
</html>
