<footer>
    <div class="row">
        <nav>
            <div class="col-md-offset-4 col-md-4">
                <ul>
                    <li>
                        <a href="/">Homepage</a>
                    </li>
                    <li>
                        <a href="@routes.VisitorController.impressum()">Impressum</a>
                    </li>
                    <li>
                        <a href="@routes.VisitorController.contact()">Kontakt</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <a href="http://www.gm.fh-koeln.de/~advlabor/">ADV-Labor</a>
                    </li>
                    <li>
                        <a href="https://psso.fh-koeln.de/">PSSO</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row"><span class="col-md-offset-4" >© 2014 Cologne University of Applied Sciences</span></div>
</footer>