<footer>
 <ul>
     <li>
         <a href="/">Homepage</a>
     </li>
     <li>
         <a href="@routes.VisitorController.impressum()">Impressum</a>
     </li>
     <li>
        <a href="@routes.VisitorController.contact()">Kontakt</a>
     </li>
     <li>
         <a href="http://www.gm.fh-koeln.de/~advlabor/">ADV-Labor</a>
     </li>
     <li>
         <a href="https://psso.fh-koeln.de/">PSSO</a>
     </li>
     <li>
         <span>© 2014 Cologne University of Applied Sciences</span>
     </li>

 </ul>
</footer>