
<!DOCTYPE html>

<html>
    @head("Anschrift")
    <body>
        <div>
            <p>Fachhochschule Köln <br>
                Claudiusstr. 1 <br>
                50678 Köln </p>

            <p>Telefon: 0221/8275-0 </p>

            <p>Postanschrift <br>
                Fachhochschule Köln <br>
                Gustav-Heinemann-Ufer 54 <br>
                50968 Köln </p>

            <p>Die Fachhochschule Köln ist eine Körperschaft des Öffentlichen Rechts. <br>
                Sie wird durch den Präsidenten Prof. Dr.-Ing. Christoph Seeßelberg gesetzlich vertreten. </p>

            <p>Zuständige Aufsichtsbehörde: <br>
                Ministerium für Innovation, Wissenschaft und Forschung des Landes Nordrhein-Westfalen <br>
                Völklinger Str. 49 <br>
                40221 Düsseldorf <br>
                Tel.: +49 211 896 - 04 <br>
                Fax: +49 211 896 - 4555 <br>
                E-Mail:  poststelle@@miwf.nrw.de <p>

            <p>Umsatzsteuer-Identifikationsnummer gem. § 27a Umsatzsteuergesetz: DE 122653679</p>
        </div>
        @footer()
    </body>
</html>
