@(labwork: Individual, group: Individual, associations: List[Individual])
@import org.joda.time.LocalDate
@import utils.semantic.DateLiteral
@import utils.semantic.{Individual, Resource, StringLiteral}
    @import utils.semantic.Vocabulary.{LWM, RDFS}
    @import utils.Global._
    @import scala.concurrent.ExecutionContext.Implicits.global

    <div class="panel panel-default">
        <div class="panel-heading">
    Anzahl der Aufgaben: @labwork.props.getOrElse(LWM.hasAssignmentAssociation, Nil).size</div>
        <table class="table table-bordered">
            <tbody>
                <td> @helpers.groupSchedule(group.uri)</td>
            </tbody>
        </table>
    </div>


