@(labwork: Individual, group: Individual, students: List[Individual], groups: List[Individual])
@import utils.semantic.Vocabulary.{LWM, FOAF}
@import utils.semantic.{Individual, StringLiteral}

<div class="panel panel-default">
    <div class="panel-heading">Studenten</div>
    <div class="panel-body"><table class="table table-bordered">
        <tbody>
            <tr><th>Kennung</th> <th>Nachname</th><th>Vorname</th> <th>Matrikelnummer</th> <th>Verschoben</th> <th>Fehl</th><th>Nicht best.</th></tr>

            @for((s, index) <- students.zipWithIndex; fn <- s.props.getOrElse(FOAF.firstName, List(StringLiteral(""))); ln <- s.props.getOrElse(FOAF.lastName, List(StringLiteral(""))); gm <- s.props.getOrElse(LWM.hasGmId, List(StringLiteral(""))); m <- s.props.getOrElse(LWM.hasRegistrationId, List(StringLiteral("")))) {
                <tr>
                    <td><a href="@routes.StudentInformationController.showInformation(s.uri.value)">@gm.value</a> </td>
                    <td>@ln.value</td>
                    <td>@fn.value</td>

                    <td>@m.value</td>
                    @defining(Students.dateCountAlternate(s.uri, group.uri)){alternate =>
                        @if(alternate == 2) {
                            <td class="bg-warning">@alternate</td>
                        }else {
                            @if(alternate > 2){
                                <td class="bg-danger">@alternate</td>
                            }else{
                                <td>@alternate</td>
                            }
                        }
                    }
                    @defining(Students.dateCountMissed(s.uri, group.uri)){missed =>
                        @if(missed == 1) {
                            <td class="bg-warning">@missed</td>
                        }else {
                            @if(missed > 1){
                                <td class="bg-danger">@missed</td>
                            }else{
                                <td>@missed</td>
                            }
                        }
                    }

                    @defining(Students.dateCountNotPassed(s.uri, group.uri)){notPassed =>
                        @if(notPassed == 1) {
                            <td class="bg-warning">@notPassed</td>
                        }else {
                            @if(notPassed > 1){
                                <td class="bg-danger">@notPassed</td>
                            }else{
                                <td>@notPassed</td>
                            }
                        }

                    }

                    <td><a class="glyphicon glyphicon-random" data-toggle="modal" data-target="#@index"></a></td>
                    <td><a href="javascript: if(confirmed()) removeStudentFromGroup('@labwork.uri.value', '@s.uri.value', '@group.uri.value')" class="glyphicon glyphicon-remove"></a></td>
                </tr>
                <div class="modal fade" id="@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                                    Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Gruppe ändern</h4>
                            </div>
                            <div class="modal-body">
                            @change_group_select(index, s, group, groups)
                            </div>

                        </div>
                    </div>
                </div>
            }

        </tbody>
    </table>
    </div>
    <div class="panel-footer">
        @student_autocomplete_field()
        <a class="glyphicon glyphicon-plus" href="javascript: addStudentToGroup('@labwork.uri.value','@group.uri.value')"></a>
    </div>
</div>