@(labwork: Individual, group: Individual, association: Individual)
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.semantic.Vocabulary.{LWM, RDFS}

    <!-- CHANGES THE ORIGINAL ASSOCIATION. NOT THE UNIQUE GROUP ONE. TODO: ADD INDIVIDUAL GROUP ASSOCIATIONS -->
    <label>Neue Abgabe: </label>
    <select id="selectPreparationTime">
    @for(n <- 0 to labwork.props.getOrElse(LWM.hasAssignmentAssociation, Nil).size - association.props.getOrElse(LWM.hasOrderId, List(StringLiteral(""))).head.value.toInt) {
        <option>+@n</option>
    }
    </select>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        <a href="javascript: setPreparationTime('@labwork.uri.value', '@group.uri.value', '@association.uri.value')" class="btn btn-primary">Hinzufügen</a>
    </div>
