@(labwork: Individual, group: Individual, students: List[Individual], groups: List[Individual], associations: List[Individual])
@import utils.semantic.{Individual, StringLiteral}
@import utils.semantic.Vocabulary.LWM
@import utils.Global._

<!DOCTYPE html>
<html>
    @head("Gruppe Detailverwaltung")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin()
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    <h4>Gruppe @{group.props.getOrElse(LWM.hasGroupId, List(StringLiteral(""))).head.value} Detailverwaltung</h4>
                    <div class="row">
                    @groups_student_list(labwork, group, students, groups)
                    </div>
                    <div class="row">
                    @groups_associated_assignment_list(labwork, group, associations)
                    </div>
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>

