@(labwork: Individual, groups: List[Individual], lwAssignments: List[Individual], allAssignments: List[Individual], form: Form[AssignmentAssociationFormModel])
@import utils.semantic.Vocabulary.RDFS
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.Resource
@import utils.semantic.Individual
@import utils.Global._

<!DOCTYPE html>
<html>
    @head("Praktikum bearbeiten")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin()
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    <div class="row">
                        <h4>Veranstaltung: @labwork.props.getOrElse(RDFS.label, List("")).head @Individual(Resource(labwork.props.getOrElse(LWM.hasSemester, List.empty[Resource]).head.value)).props.getOrElse(RDFS.label, List.empty[String]).head.toString</h4>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">Gruppen</div>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr><th>Gruppe</th><th>Anzahl</th></tr>
                                    @for(r <- groups; g <- r.props(LWM.hasId)) {
                                        <tr><td><a href="@routes.GroupManagementController.index(labwork.uri.value, r.uri.value)">@g.value</a></td> <td>@r.props.getOrElse(LWM.hasMember, List.empty[Resource]).size</td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            @labworkAssignment_list(labwork, lwAssignments, allAssignments, form)
                        </div>
                    </div>
                    <div class="row">
                        <a href="@routes.TimetableController.index(labwork.uri.value)" class="btn btn-primary" role="button">
                            Stundenplan</a>
                    </div>
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>


