@(semesters: List[Individual], courses: List[Individual], labworks: Form[LabWork])
@import utils.semantic.Resource
@import utils.semantic.Individual
@import utils.semantic.Literal
@import utils.Global._
@import utils.semantic.Vocabulary._
@import utils.semantic.Individual

    @helper.form(action = routes.LabworkManagementController.labWorkPost()) {
        @helper.inputText(labworks("groupCount"), '_label -> "Anzahl Gruppen:")
        @helper.inputText(labworks("assignmentCount"), '_label -> "Anzahl Termine:")
        @helper.select(labworks("courseId"), for {course <- courses;labelList <- course.props.get(RDFS.label); label = labelList.headOption.getOrElse("")} yield course.uri.value -> (label.toString+ " - " +Individual(Resource(course.props.getOrElse(LWM.hasDegree, List(Resource(""))).head.value)).props.getOrElse(RDFS.label, List(Literal(""))).head.value), '_label -> "Veranstaltung:")
        @helper.select(labworks("semester"), for {semester <- semesters; labelList <- semester.props.get(RDFS.label); label = labelList.headOption.getOrElse("")} yield semester.uri.value -> label.toString, '_label -> "Semester:")
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    }