@(graduates: Map[String, List[(String, String, String)]])(implicit requestHeader: RequestHeader)
@import utils.semantic.Resource


<!DOCTYPE html>
<html>
    @head("Praktikum Absolventen")
    <body>
        <div class="container" id="everything">

        @for(group <- graduates) {
            <section>
                <table class="table table-bordered">
                    <tr> <th>Gruppe @group._1 </th> <th>Name</th> <th>Matrikelnummer</th></tr>
                    <tbody>
                    @for(person <- group._2) {
                        <tr> <td></td> <td> @person._2 </td> <td> @person._3 </td></tr>
                    }
                    </tbody>
                </table>
            </section>
        }
        </div>
    </body>
</html>
