@(association: Resource, due: Int, labwork: Individual, assignments: List[Individual], form: Form[AssignmentAssociationFormModel])
@import utils.semantic.Vocabulary.{RDFS, LWM}
@import utils.semantic.Resource
@import utils.semantic.Individual

    @helper.form(action = routes.AssignmentManagementController.bindAssignment(labwork.uri.value, association.value)) {
    @helper.select(form("assignment"), for(a <- assignments) yield a.uri.value -> a.props.getOrElse(RDFS.label, List.empty[String]).head.toString, '_label -> "Aufgabe:")
    @helper.select(form("preparationTime"), for(d <- 1 to due) yield ("+" + d.toString) -> ("+" + d.toString),'_label -> "Bearbeitungszeit:")
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </div>
}
