@(degrees: List[Individual], courses: List[Individual], labworks: Form[LabWork])
@import utils.semantic.Individual

@import utils.semantic.Vocabulary._
@import utils.semantic.Individual

<div>
    <div>
    @helper.form(action = routes.LabworkManagementController.labWorkPost()) {
        @helper.inputText(labworks("id"), '_label -> "Id: ")
        @helper.inputText(labworks("name"), '_label -> "Name:")
        @helper.inputText(labworks("groupCount"), '_label -> "Anzahl Gruppen:")
        @helper.inputText(labworks("assignmentCount"), '_label -> "Anzahl Termine:")
        @helper.select(labworks("degreeId"), for {degree <- degrees;label <- degree.props.get(RDFS.label)} yield degree.uri.value -> label.toString, '_label -> "Studiengang:")
        @helper.select(labworks("courseId"), for {course <- courses;label <- course.props.get(RDFS.label)} yield course.uri.value -> label.toString, '_label -> "Veranstaltung:")
        @helper.inputText(labworks("semester"), '_label -> "Semester:")
    }
    </div>
</div>