@(labwork: Individual, labworkAssociations: List[Individual], labworkAssignments: List[Individual], form: Form[AssignmentAssociationFormModel])
    @import utils.semantic.StringLiteral
    @import utils.semantic.Vocabulary.{LWM, RDFS}
    @import utils.semantic.{Individual, Resource}
    @import utils.Global._

    <div class="panel-heading">
    Anzahl der Aufgaben: @labwork.props.getOrElse(LWM.hasAssignmentAssociation, Nil).size</div>
    <table class="table table-bordered">
        <tbody>
            <tr><th>Sichtbar</th><th>Termin</th> <th>Aufgabe</th> <th>Abgabetermin</th></tr>
            @for((a, index) <- labworkAssociations.zip(Stream from 1); assignments = a.props.getOrElse(LWM.hasAssignment, Nil)) {
                <tr>
                    <td>
                        @if(a.props.getOrElse(LWM.isVisibleToStudents, List(StringLiteral("false"))).head.value == "false") {
                            <a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@a.uri.value', 'true')" class="glyphicon glyphicon-remove-circle"></a>
                        }else{
                            <a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@a.uri.value', 'false')" class="glyphicon glyphicon-ok-circle"></a>
                        }
                    </td>
                    <td>@index</td>
                    <td>
                        @Individual(Resource(a.props.getOrElse(LWM.hasAssignment, List(Resource(""))).head.value)).props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value

                        @if(assignments.nonEmpty) {
                            <a href="javascript: if(confirmed()) deleteBinding('@labwork.uri.value', '@a.uri.value')" class="glyphicon glyphicon-remove" data-dismiss="modal"></a>
                        } else {
                            <button class="btn btn-primary btn-xs glyphicon glyphicon-plus" data-toggle="modal" data-target="#@index"></button>
                        }
                    </td>
                    <td>
                    @{
                        a.props.getOrElse(LWM.hasPreparationTime, List(StringLiteral("0"))).head.value.toInt + index
                    }
                    </td>
                    <td>
                        <a href="javascript: if(confirmed()) applyEdit('DELETE assignmentAssociation HAVING @{
                            a.uri.value
                        }','@routes.LabworkManagementController.edit(labwork.uri.value)')" class="glyphicon glyphicon-remove"></a>
                    </td>
                </tr>

                <div class="modal fade" id="@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                                    Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Neue Aufgabe hinzufügen</h4>
                            </div>
                            <div class="modal-body">
                            @labworkAssignment_form(a.uri, labwork.props.getOrElse(LWM.hasAssignmentAssociation, Nil).size - index, labwork, labworkAssignments, form)
                            </div>

                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    <div class="panel-footer"><a href="javascript: applyEdit('CREATE assignmentAssociation HAVING @{
        LWM.hasOrderId
    }, @{
        LWM.hasLabWork
    } WITH @{
        labwork.props.getOrElse(LWM.hasAssignmentAssociation, Nil).size
    }, @{
        labwork.uri.value
    }', '@routes.LabworkManagementController.edit(labwork.uri.value)')" class="glyphicon glyphicon-plus"></a>
    </div>
