@(labwork: Individual, groups: List[Individual])
@import utils.semantic.Individual
@import utils.semantic.Vocabulary.{LWM, RDFS}

<div class="panel panel-default">
    <div class="panel-heading">Gruppen</div>
    <table class="table table-bordered">
        <tbody>
            <tr><th>Gruppe</th><th>Anzahl</th></tr>
            @for(g <- groups; gId <- g.props(LWM.hasGroupId)) {
                <tr><td><a href="@routes.GroupManagementController.index(labwork.uri.value, g.uri.value)">@gId.value</a></td> <td>@g.props.getOrElse(LWM.hasMember, List.empty).size</td><td><a href="javascript: edit('remove', 'group', 'none', 'hasLabwork', '@g.uri.value', 'none', '@routes.LabworkManagementController.edit(labwork.uri.value)')" class="glyphicon glyphicon-remove"></a></td></tr>
            }
        </tbody>
    </table>
    <div class="panel-footer"><a href="javascript: edit('add new', 'group', 'none','hasLabWork', '@labwork.uri.value', 'none', '@routes.LabworkManagementController.edit(labwork.uri.value)')" class="glyphicon glyphicon-plus"></a>
    </div>
</div>


