@(labwork: Individual, semesters: List[Individual], courses: List[Individual], form: Form[LabWorkFormModel])
@import utils.semantic.Vocabulary.RDFS
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.{Resource, StringLiteral}
@import utils.semantic.Individual
@import utils.Global._
<table class="table">
    <tr>
        <th>Sichtbarkeit</th><th>Veranstaltung</th> <th>Studiengang</th> <th>Gruppenanzahl</th> <th>Aufgabenanzahl</th> <th>Startdatum</th> <th>
        Enddatum</th> <th>Semester</th> <th></th>
    </tr>
    <tbody>
    @for(course <- labwork.props(LWM.hasCourse); ic = Individual(Resource(course.value)); degree <- ic.props(LWM.hasDegree); id = Individual(Resource(degree.value)); sD = labwork.props(LWM.hasStartDate); eD = labwork.props(LWM.hasEndDate); aNr = labwork.props(LWM.hasAssignmentCount); gNr = labwork.props(LWM.hasGroup); sem = labwork.props(LWM.hasSemester)) {
        <tr>
            <td>@if(labwork.props.getOrElse(LWM.allowsApplications, List(StringLiteral(""))).head.value == "false") {<a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@labwork.uri.value', 'true')" class="glyphicon glyphicon-remove-circle"></a>}else{<a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@labwork.uri.value', 'false')" class="glyphicon glyphicon-ok-circle"></a>}</td>
            <td>@ic.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value</td>
            <td>@id.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value</td>
            <td>@gNr.size</td>
            <td>@aNr.head.value</td>
            <td>@sD.head.value</td>
            <td>@eD.head.value</td>
            <td>@Individual(Resource(sem.head.value)).props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value</td>
            <td><a href="#" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"></a></td>
        </tr>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Neue Aufgabe hinzufügen</h4>
                    </div>
                    <div class="modal-body">
                    @labworkAssignment_edit_form(labwork, course.value, sem.head.value, semesters, courses, form)
                    </div>

                </div>
            </div>
        </div>
        }
    </tbody>
</table>