@(labworks: List[Individual])
@import utils.semantic.Vocabulary.{LWM, RDFS}
@import utils.semantic.Individual
@import utils.semantic.Resource
@import utils.semantic.Vocabulary
@import utils.semantic.StringLiteral
@import utils.Global._


<div class="panel panel-default">
    <div class="panel-heading">Praktikumsübersicht</div>

    <table class="table">
        <tr>
            <th>Sichtbar</th>
            <th>Veranstaltung</th>
            <th>Studiengang</th>
            <th>Gruppenanzahl</th>
            <th>Aufgabenanzahl</th>
            <th>Semester</th>

        </tr>
        @for(labwork <- labworks; v <- labwork.props(LWM.allowsApplications);label <- labwork.props(RDFS.label); c <- labwork.props.getOrElse(Vocabulary.LWM.hasCourse, List(Resource(""))); i = Individual(c.asResource().get)) {
            <tr>
                <td>@if(v.value == "false") {<a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@labwork.uri.value', 'true')" class="glyphicon glyphicon-remove-circle"></a>}else{<a href="javascript: setVisible('@routes.LabworkManagementController.setVisibility()','@labwork.uri.value', 'false')" class="glyphicon glyphicon-ok-circle"></a>}</td>
                <td>@i.props.getOrElse(Vocabulary.RDFS.label, List(StringLiteral(""))).head.value</td>
                <td>@Individual(Resource(i.props.getOrElse(LWM.hasDegree, List(Resource(""))).head.value)).props.getOrElse(Vocabulary.RDFS.label, List(StringLiteral(""))).head.value</td>
                <td>@labwork.props.getOrElse(Vocabulary.LWM.hasGroup, Nil).size</td>
                <td>@labwork.props.getOrElse(Vocabulary.LWM.hasAssignmentAssociation, Nil).size</td>
                <td>@Individual(Resource(labwork.props.getOrElse(Vocabulary.LWM.hasSemester, List(StringLiteral(""))).head.value)).props.getOrElse(Vocabulary.RDFS.label, List(StringLiteral(""))).head.value</td>
                <td><a class="glyphicon glyphicon-pencil" href="@routes.LabworkManagementController.edit(labwork.uri.value)"></a></td>
                <td><a class="glyphicon glyphicon-share-alt" href="@routes.LabworkManagementController.export(labwork.uri.value)"></a></td>
                <td><a href="javascript: if(confirmed()) deleteLabwork('@labwork.uri.value')" class="glyphicon glyphicon-remove"></a></td>
            </tr>
        }
    </table>

</div>

