@(labwork: Individual, associations: List[Individual], allAssignments: List[Individual], form: Form[AssignmentAssociationFormModel])
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary.{LWM, RDFS}
@import utils.semantic.{Individual, Resource}
@import utils.Global._

<div class="panel-heading">
    Anzahl der Aufgaben: @labwork.props.getOrElse(LWM.hasAssignmentCount, List(StringLiteral(""))).head.value</div>
<table class="table table-bordered">
    <tbody>
        <tr><th>Termin</th><th>Aufgabe</th><th>Abgabetermin</th></tr>
        @for(a <- associations; id <- a.props(LWM.hasOrderId); c <- labwork.props(LWM.hasAssignmentCount)) {
            @if(a.props.getOrElse(LWM.hasAssignment, List.empty[Resource]).nonEmpty) {
                <tr>
                    <td>@id.value</td>
                    <td>
                        @Individual(Resource(a.props.getOrElse(LWM.hasAssignment, List(Resource(""))).head.value)).props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value
                        <a href="javascript: deleteBinding('@labwork.uri.value', '@a.uri.value')" class="glyphicon glyphicon-remove" data-dismiss="modal"></a>
                        </td>
                    <td>
                        @{a.props.getOrElse(LWM.hasPreparationTime, List(StringLiteral("0"))).head.value.toInt + id.value.toInt}
                        @{a.props.getOrElse(LWM.hasPreparationTime, List(StringLiteral("0"))).head.value.toInt}
                    </td>
                </tr>
            }else {
                    <tr><td>@id.value</td><td><button class="btn btn-primary btn-xs glyphicon glyphicon-plus" data-toggle="modal" data-target="#@id.value"></button>
                </td>
                    <td></td>
                </tr>

                <div class="modal fade" id="@id.value" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                    Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Neue Aufgabe hinzufügen</h4>
                            </div>
                            <div class="modal-body">
                            @labworkAssignment_form(a.uri, c.value.toInt - id.value.toInt, labwork, allAssignments, form)
                            </div>

                        </div>
                    </div>
                </div>
            }
            }
    </tbody>
</table>