@(labwork: Individual, groups: List[Individual], labworkAssociations: List[Individual], labworkApplications: List[Individual], labworkAssignments: List[Individual], semesters: List[Individual], courses: List[Individual], form: Form[AssignmentAssociationFormModel], lform: Form[LabworkUpdateModel])
@import utils.semantic.{Individual, Resource}
@import utils.semantic.Vocabulary.{LWM, RDFS}
@import utils.Global._

<!DOCTYPE html>
<html>
    @head("Praktikum bearbeiten")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin()
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    <div class = "row">
                    @labwork_information_head(labwork, semesters, courses, labworkApplications.size, lform)
                    </div>
                    <div class="row">
                    @labwork_individual_group_population(labwork, groups)
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                        @labwork_assignment_list(labwork, labworkAssociations, labworkAssignments, form)
                        </div>
                    </div>
                    <div class="row">
                        <a href="@routes.TimetableController.index(labwork.uri.value)" class="btn btn-primary" role="button">
                            Stundenplan
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>


