@(labworks: List[Individual])
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.Individual
@import utils.semantic.Resource
@import utils.semantic.Vocabulary
@import utils.semantic.Literal
@import utils.Global._


<div class="panel panel-default">
    <div class="panel-heading">Nutzerübersicht</div>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Veranstaltung</th>
            <th>Studiengang</th>
            <th>Gruppenanzahl</th>
            <th>Aufgabenanzahl</th>
        </tr>
        @for(labwork <- labworks) {
            <tr>
                <td>@labwork.props.getOrElse(Vocabulary.LWM.hasName, List(Literal(""))).head.value</td>
                <td>@Individual(Resource(labwork.props.getOrElse(Vocabulary.LWM.hasCourse, List(Literal(""))).head.value)).props.getOrElse(Vocabulary.LWM.hasName, List(Literal(""))).head.value</td>
                <td>@Individual(Resource(labwork.props.getOrElse(Vocabulary.LWM.hasDegree, List(Literal(""))).head.value)).props.getOrElse(Vocabulary.LWM.hasName, List(Literal(""))).head.value</td>
                <td>@labwork.props.getOrElse(Vocabulary.LWM.hasGroup, List(Literal(""))).size</td>
                <td>@labwork.props.getOrElse(Vocabulary.LWM.hasAssignmentCount, List(Literal("0"))).head.value</td>
                <td><a class="glyphicon glyphicon-pencil"></a></td>
                <td><a href="javascript: deleteLabwork('@labwork.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
            </tr>
        }
    </table>

</div>

