
@(labworkApplicationLists: List[(Individual, String, String, Int)])
@import utils.semantic.Vocabulary.rdfs
@import utils.semantic.Vocabulary.lwm
@import utils.semantic.Individual
@import utils.Global._

<div class="panel panel-default">
    <div class="panel-heading">Übersicht</div>

    <table class="table">
        <tr>
            <th>Veranstaltung</th>
            <th>Semester</th>
            <th>Studiengang</th>
            <th>Anmeldungen</th>

        </tr>
        @for((applicationList, index) <- labworkApplicationLists.zipWithIndex) {
            <tr>
                <td><a href="@routes.LabworkApplicationController.applicationListEdit(applicationList._1.uri.value)">@applicationList._1.props.get(lwm.hasLabWork).map(list => list.head.asResource().map(r => Individual(r).props.get(rdfs.label).map(y => y.headOption.map(_.toString))))</a></td>
                <td>@applicationList._2</td>
                <td>@applicationList._3</td>
                <td>@applicationList._4</td>
                <td><h3><a href="#" class="glyphicon glyphicon-th" data-toggle="modal" data-target="#@index"></a></h3></td>
            </tr>


            <div class="modal fade" id="@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                        Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Neuer Student hinzufügen</h4>
                        </div>
                        <div class="modal-body">
                        @group_range_input(applicationList._1)
                        </div>
                    </div>
                </div>
            </div>
        }
    </table>
</div>