@(labworkApplicationLists: List[(Individual, String, String, Int)], session: actors.SessionHandler.Session)(implicit request: RequestHeader)
@import utils.semantic.Individual
@import utils.BreadCrumbKeeper.UrlReference
<!DOCTYPE html>

<html>
    @head("Praktikumsanmeldungen")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin(UrlReference("Anmeldungen", request.uri), session)
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    @labwork_application_lists(labworkApplicationLists)
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>