@(loginForm: Form[LoginData])

<!DOCTYPE html>

<html>
    @head("LWM Login")
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-12">
                            @helper.form(action = routes.SessionManagement.login(), 'class -> "form-horizontal", 'role -> "form") {
                                @helper.inputText(loginForm("user"), '_label -> "ADV Kennung")
                                @helper.inputPassword(loginForm("password"), '_label -> "Passwort")
                                <button class="btn btn-primary btn-lg pull-right" type="submit">Einloggen</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @footer()
</body>
</html>
