<div class="col-md-3">
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="@routes.StudentsManagement.index()">Studentenverwaltung</a></li>
            <li><a href="@routes.UserManagement.index()">Nutzerverwaltung</a></li>
            <li><a href="@routes.SemesterManagementController.index()">Semesterverwaltung</a></li>
            <li><a href="@routes.BlacklistManagementController.index()">Blacklistverwaltung</a></li>
            <li><a href="@routes.RoomManagementController.index()">Raumverwaltung</a></li>
            <li><a href="@routes.CourseManagementController.index()">Veranstaltungsverwaltung</a></li>
            <li><a href="@routes.DegreeManagementController.index()">Studiengangsverwaltung</a></li>
            <li><a href="@routes.LabworkManagementController.index()">Praktikumsverwaltung</a></li>
            <li><a href="@routes.LabworkApplicationController.index()">Praktikumsanmeldungen</a></li>
            <li><a href="@routes.AssignmentManagementController.index()">Aufgabenverwaltung</a></li>
        </ul>
    </nav>
</div>
