@()(implicit request: RequestHeader)
@import play.api.Play

<div class="col-md-3 no-print">
    <nav>
        <ul class="nav nav-pills nav-stacked no-print">
            <li class="alert-danger"><a href="@routes.SuperUser.index()">Superuser</a></li>
            <li><a href="@routes.StudentsManagement.index("1")">Studentenverwaltung</a></li>
            <li><a href="@routes.UserManagement.index()">Nutzerverwaltung</a></li>
            <li><a href="@routes.SubstitutionsManagementController.index()">Vertretungsplanung</a></li>
            <li><a href="@routes.SemesterManagementController.index()">Semesterverwaltung</a></li>
            <li><a href="@routes.BlacklistManagementController.index()">Blacklistverwaltung</a></li>
            <li><a href="@routes.RoomManagementController.index()">Raumverwaltung</a></li>
            <li><a href="@routes.CourseManagementController.index()">Veranstaltungsverwaltung</a></li>
            <li><a href="@routes.DegreeManagementController.index()">Studiengangsverwaltung</a></li>
            <li><a href="@routes.LabworkManagementController.index()">Praktikumsverwaltung</a></li>
            <li><a href="@routes.LabworkApplicationController.index()">Praktikumsanmeldungen</a></li>
            <li><a href="@routes.AssignmentManagementController.index()">Aufgabenverwaltung</a></li>
            <li><a href="@routes.LiveAssignmentManagementController.index()">Liveaufgabenverwaltung</a></li>
            <li><span id="userCount" class="badge"></span> <span id="userText"></span> online</li>
            <li><span id="studentCount" class="badge"></span> <span id="studentenText"></span> online</li>
        </ul>
    </nav>
    <script>
        $(document).ready(function() {
            createUserCountSocket("@routes.SessionManagement.userCountSocket().webSocketURL(secure = Play.isProd(play.api.Play.current))");
        });
    </script>
</div>