@(rooms: List[Individual])
@import utils.semantic.Individual
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary


<div class="panel panel-default">
    <div class="panel-heading">Raumübersicht</div>

    <table class="table">
        <tr>
            <th>Raum</th>
            <th>Bezeichnung</th>
        </tr>
        @for(room <- rooms) {
            <tr>
                <td>@room.props.getOrElse(Vocabulary.LWM.hasRoomId, List(StringLiteral(""))).head.value</td>
                <td>@room.props.getOrElse(Vocabulary.LWM.hasName, List(StringLiteral(""))).head.value</td>
                <td><a class="glyphicon glyphicon-pencil"></a></td>
                <td><a href="javascript: deleteRoom('@room.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
            </tr>
        }
    </table>

</div>
