@(room: Individual, form: Form[RoomFormModel])
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.semantic.Vocabulary.{LWM, RDFS}

    @defining(form.fill(RoomFormModel(room.props.getOrElse(LWM.hasRoomId, List(StringLiteral(""))).head.value, room.props.getOrElse(LWM.hasName, List(StringLiteral(""))).head.value))) {f=>
        @helper.form(action = routes.RoomManagementController.roomEdit(room.uri.value)) {
            @helper.inputText(f("id"), '_label -> "Raumnummer:")
            @helper.inputText(f("name"), '_label -> "Bezeichnung:")
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="submit" class="btn btn-primary">Ändern</button>
            </div>
        }

}