@(semesters: List[Individual])
@import utils.semantic.Vocabulary.{RDFS, LWM}

@import utils.semantic.Individual

<div class="panel panel-default">
    <div class="panel-heading">Semesterübersicht</div>

    <table class="table">
        <tr>
            <th>Semester</th>
        </tr>
        @for(semester<- semesters; id <- semester.props(LWM.hasId)) {
            <tr>
                <td>@semester.props(RDFS.label)</td>
                <td>@affirmation_widget(s"${id.value}",s"deleteSemester('${semester.uri.value}')")</td></tr>
        }
    </table>

</div>
