@(semesters: List[Individual])
@import utils.semantic.Vocabulary.RDFS

@import utils.semantic.Individual

<div class="panel panel-default">
    <div class="panel-heading">Semesterübersicht</div>

    <table class="table">
        <tr>
            <th>Semester</th>
        </tr>
        @for(semester<- semesters) {
            <tr>
                <td>@semester.props(RDFS.label)</td>
                <td><a href="javascript: deleteSemester('@semester.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
            </tr>
        }
    </table>

</div>
