@(students: List[(Individual, String)], degrees: List[Individual], nrPages: Int, studentInput: Form[Student])
    @import utils.semantic.Individual
    @import utils.semantic.Vocabulary

<!DOCTYPE html>

    <html>
        @head("Studentenverwaltung")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin()
            </div>
            <div class="row">
                @navigation_admin()
            <div id="studentsList" class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Suche</div>
                    <div class="panel-body">
                        @student_autocomplete_field()
                    <a href="javascript: search()" class="glyphicon glyphicon-magnet"></a>
                    </div>
                </div>


                @studentList(students, degrees, studentInput)

                <br/> <br/>
                <div class="row">
                Seite:
                    @for(n <- 1 until nrPages) {
                        <a href="@routes.StudentsManagement.pagedIndex(n.toString)">@n</a>
                    }
                </div>
            </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
    </html>

