@(students: List[Individual], form: Form[Student])
@import utils.semantic.Individual
@import utils.semantic.Vocabulary

<!DOCTYPE html>

<html>
    <head>
        <title>Studentenverwaltung</title>
        @head()
    </head>
    <body>

        @header_loggedIn_admin()
        @navigation_admin()
        <div id = "studentsList">
           @studentList(students)
        </div>
        <div id="studentsForm">
            @studentForm(form)
        </div>
        @footerAdmin()
    </body>
</html>