@(students: List[(Individual, String)], degrees: List[Individual], studentInput: Form[Student])
    @import utils.semantic.Individual
    @import utils.semantic.StringLiteral
    @import utils.semantic.Vocabulary
    @import utils.semantic.Vocabulary.rdfs

    @import utils.semantic.Resource
    @import utils.Global._



    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h3>Studentenübersicht (@students.size)</h3>
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>GM ID</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Studiengang</th>
            </tr>
            @for((student, index) <- students.map(_._1).zipWithIndex) {
                <tr>
                    <td><a href="@routes.StudentInformationController.showInformation(student.uri.value)">@student.props.getOrElse(Vocabulary.lwm.hasGmId, List(StringLiteral(""))).head.value</a></td>
                    <td>@student.props.getOrElse(Vocabulary.foaf.lastName, List(StringLiteral(""))).head.value</td>
                    <td>@student.props.getOrElse(Vocabulary.foaf.firstName, List(StringLiteral(""))).head.value</td>
                    <td>@Individual(student.props.getOrElse(Vocabulary.lwm.hasEnrollment, List(Resource(""))).head.asResource.get).props.getOrElse(rdfs.label, List(StringLiteral(""))).head.value</td>
                    <td><h3><a href="#" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#@index"></a></h3></td>
                    <td><h3><a href="javascript: if(confirmed()) deleteStudent('@student.uri.value')" class="glyphicon glyphicon-remove"></a></h3></td>
                </tr>

                <div class="modal fade" id="@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                                    Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Student bearbeiten</h4>
                            </div>
                            <div class="modal-body">
                            @student_edit_form(student, degrees, studentInput)
                            </div>

                        </div>
                    </div>
                </div>

            }
        </table>
    </div>


