@(student: Individual, labwork: Individual, associations: List[Resource])
@import utils.semantic.Vocabulary.RDF
@import utils.semantic.{Resource, Individual, StringLiteral}
    @import utils.semantic.Vocabulary.{LWM, RDFS}
@import utils.Global._

<!DOCTYPE html>
    <html>
        @head("Praktikumsaufgaben")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_student()
            </div>
            <div class="row">
                @navigation_student(student)
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    @labwork.props.getOrElse(RDFS.label, List(StringLiteral(""))).head.value
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Aufgabe</th>
                        </tr>
                        @for((a, index) <- associations.zipWithIndex) {
                            <tr>
                                <td>
                                    <a href="@routes.LabworkManagementController.exportAssignment(labwork.uri.value, a.value)">@{index + 1} Aufgabe: @Individual(a).props.getOrElse(RDFS.label, Nil).headOption.map(_.toString)  </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            </div>

            <div class="row">@footer_student()</div>
        </div>
    </body>
    </html>
