@(student: Resource, form: Form[AlternateAssociationFormModel])(implicit request: RequestHeader)
@import play.api.Play
@import utils.BreadCrumbKeeper.UrlReference
@import utils.semantic.{Individual, StringLiteral, Resource}
@import utils.Global._
@import utils.semantic.Vocabulary.LWM
<!DOCTYPE html>
<html>
    @head("Informationen zu ...")
    <body>

        <div class="row">
            <div id="connectionWarning" class="col-md-12 bg-danger">
                <strong>Achtung!</strong> Es besteht keine Verbindung zum Server. Lokale Änderungen werden beim Schließen der Seite verloren gehen!
            </div>
        </div>
        <div class="row bg-danger">
            <div id="saveButton" class="col-md-1">
                <a href="javascript:postSupervisionChanges('@routes.SupervisionController.supervisionPost()')">Änderungen übernehmen</a>
            </div>
        </div>


        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin(Individual(student).props.getOrElse(LWM.hasGmId, List(StringLiteral(""))).head.value)
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">ven11

                    <h3>Übersicht für @helpers.students.studentName(student)</h3>
                    @Students.labworksForStudent(student).map{labwork =>
                        <h3><a href="@routes.LabworkManagementController.edit(labwork._1.value)">@helpers.labworks.labworkName(labwork._1)</a>
                            @helpers.students.groupForStudent(student, labwork._1)
                        </h3>
                        @helpers.students.detailedStudentSchedule(student, labwork._1, form)
                    }
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>

        <script>
            $(document ).ready(function(){
                function(){
                    $(window).bind('beforeunload', function(){
                        if(dirty){
                            $("#saveButton").show();
                            return 'Es wurden Daten auf dieser Seite geändert. Sind Sie sicher, dass Sie die Seite verlassen wollen?';
                        }
                    });

                    createSocket("@routes.SupervisionController.superviseSocket().webSocketURL(secure = Play.isProd(play.api.Play.current))");

                    $("#connectionWarning").hide();
                    $("#saveButton").hide();
                }
            });
        </script>
    </body>
</html>