@(group: Resource, date: LocalDate)
@import org.joda.time.LocalDate
@import utils.semantic._

<!DOCTYPE html>
<html>
    @head("Supervising")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin()
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    @helpers.labworks.labworkAttendanceTable(group, date)
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>
