@(group: Resource, date: LocalDate)(implicit request: RequestHeader)
@import org.joda.time.LocalDate
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.{Individual, Resource, StringLiteral}
@import utils.BreadCrumbKeeper.UrlReference
@import utils.Global._

<!DOCTYPE html>
<html>
    @head("Supervising")
    <body>
        <div class="container" id="everything">
            <div class="row">
            @header_loggedIn_admin(s"Aufsicht $date")
            </div>
            <div class="row">
                @navigation_admin()
                <div class="col-md-9">
                    @helpers.labworks.labworkAttendanceTable(group, date)
                </div>
            </div>
            <div class="row">@footerAdmin()</div>
        </div>
    </body>
</html>
