@(time: List[Time], labwork: LabWork, entries: List[TimetableSlot])



<div class= "panel panel-default">
<table class="table table-bordered">
    <thead>
        <tr><h4>@labwork.name @labwork.semester</h4></tr>
    </thead>
    <tbody>
        <tr><th>Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>
                            Saturday</th></tr>

        @for(t <- time) {
            <tr>
                <td>@t</td>
                <td>@tableRow(t, Weekdays.Monday, entries)</td>
                <td>@tableRow(t, Weekdays.Tuesday, entries)</td>
                <td>@tableRow(t, Weekdays.Wednesday, entries)</td>
                <td>@tableRow(t, Weekdays.Thursday, entries)</td>
                <td>@tableRow(t, Weekdays.Friday, entries)</td>
                <td>@tableRow(t, Weekdays.Saturday, entries)</td>
            </tr>
        }

    </tbody>
</table>
</div>