@(timeslots: List[Time], labwork: Individual, entries: List[Resource])
@import utils.semantic.Vocabulary.RDFS
@import utils.semantic.Vocabulary.LWM
@import utils.semantic.Individual
<!--TODO Weekday -> List[Entry]-->

@import utils.semantic.Resource
@import utils.Global._

<div class= "panel panel-default">

    <div class="panel-heading">
        <h5>@labwork.props(LWM.hasName).head.value @Individual(Resource(labwork.props(LWM.hasSemester).head.value)).props.getOrElse(RDFS.label, List.empty[String]).head.toString</h5>
    </div>
    <table class="table table-bordered">
    <tbody>
        <tr><th>Uhrzeit</th><th>Montag</th><th>Dienstag</th><th>Mittwoch</th><th>Donnerstag</th><th>Freitag</th><th>
                            Samstag</th></tr>

        @for(t <- timeslots.sorted) {
            <tr>
                <td>@t</td>
                @tableRow(t, Weekdays.Monday.uri.value, labwork, entries) 
                @tableRow(t, Weekdays.Tuesday.uri.value,labwork, entries)
                @tableRow(t, Weekdays.Wednesday.uri.value,labwork, entries)
                @tableRow(t, Weekdays.Thursday.uri.value,labwork, entries)
                @tableRow(t, Weekdays.Friday.uri.value, labwork,entries)
                @tableRow(t, Weekdays.Saturday.uri.value, labwork,entries)
            </tr>
        }

    </tbody>
</table>
</div>