@(users: List[Individual], form: Form[User])
@import utils.semantic.Individual
@import utils.semantic.StringLiteral
@import utils.semantic.Vocabulary


<div class="panel panel-default">
    <div class="panel-heading">Nutzerübersicht</div>

    <table class="table">
        <tr>
            <th>GM ID</th>
            <th>Nachname</th>
            <th>Vorname</th>
        </tr>
        @for((user, index) <- users.zipWithIndex) {
            <tr>
                <td>@user.props.getOrElse(Vocabulary.LWM.hasGmId, List(StringLiteral(""))).head.value</td>
                <td>@user.props.getOrElse(Vocabulary.FOAF.lastName, List(StringLiteral(""))).head.value</td>
                <td>@user.props.getOrElse(Vocabulary.FOAF.firstName, List(StringLiteral(""))).head.value</td>
                <td><a href="#" class="glyphicon glyphicon-pencil" data-target="#@index" data-toggle="modal"></a></td>
                <td><a href="javascript: if(confirmed()) deleteUser('@user.uri.value')" class="glyphicon glyphicon-remove" ></a></td>
            </tr>

            <div class="modal fade" id="@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                                    Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nutzer bearbeiten</h4>
                        </div>
                        <div class="modal-body">
                        @user_edit_form(user, form)
                        </div>

                    </div>
                </div>
            </div>

        }
    </table>

</div>

